html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

*{
    font-family: "Roboto";

}

body {
    background-color: #fff;
    color: #000;
    font-family: "Roboto";
    font-size: 130%;
    font-weight: 400;
    line-height: 1.428571429;
}

#current_time{
    position: relative;
    top: 120px;
    left: 227px;
    font-size: 300%;
    font-weight: 600;
    font-style: normal;
}
/* Grid containing 2 columns, one with 3 rows and one with 1 row */
.ultiwatcher-container{
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    grid-template-rows: 1fr;
    height: 64%;
    width: 80%;
    margin: auto;
    position: relative;
    top: 130px;
    gap: 20px;
}

/* left column containing the 3 row items */
.printers-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    gap: 20px;
}

.printer-box-full{
    display: grid;
    grid-template-columns: 0.3fr 11fr;
    grid-template-rows: 1fr;
    height: 100%;
}

#prints_since_cleaned{
    position: relative;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    bottom: 10px;
    color: #767676;
}

#printer-box{
    background: #F2F2F2;
    border: 3px solid #BABABA;
    border-radius: 15px;
    
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.printer-info{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr 1fr 1fr 1fr;
    padding: 16px;
    left:10px;

}

.printer-temp{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 27px;
}

/* right column containing the 1 row item */
.cam-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    background: #F2F2F2;
    border: 3px solid #575757;
    border-radius: 15px;
}

#camera_feed {
    display: block;
    width: 60%;
    height: auto;
    margin: 34px auto; 
}

.time-box{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    margin: 10px;
}
.time-box-text{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 5px;
}

#container {
    width: 170px;
    height: 170px;
    position: relative;
    right: -10px; 
    top: 90px;
}

.printer-title{
    position: relative;
    font-weight: 700;
}
#printer_name{
    font-size: 110%;
}
#printer_extruder_0_id, #printer_extruder_1_id, #printer_extruder_0_material, #printer_extruder_1_material{
    font-size: 90%;
}

#print_preview {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    padding: 20px;
}
#print_preview img{
    width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: 15px;
}
