html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

*{
    border: 1px solid red;
}

body {
    background-color: #fff;
    color: #000;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 1.428571429;
}


/* Grid containing 2 columns, one with 3 rows and one with 1 row */
.ultiwatcher-container{
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    grid-template-rows: 1fr;
    height: 70%;
    width: 80%;
    margin: 90px auto;
    gap: 20px;
}

/* left column containing the 3 row items */
.printers-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    gap: 20px;
}

.printer-box-full{
    display: grid;
    grid-template-columns: 0.3fr 11fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.printer-total-prints{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.printer-box{
    background: #F2F2F2;
    border: 3px solid #BABABA;
    border-radius: 15px;
    
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.printer-info{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 5px;
}

.printer-temp{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding: 5px;
}

/* right column containing the 1 row item */
.cam-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    background: #F2F2F2;
    border: 3px solid #575757;
    border-radius: 15px;
}

.cam-stream {
    display: block;
    width: 60%;
    height: auto;
    margin: 20px auto; 
}

#container {
    margin: 20px;
    width: 150px;
    height: 150px;
    position: relative;
    float: right;
    
}