<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id="current_time"></p>
    <p id="time_elapsed"></p>
    <p id="time_total"></p>
    <img src="http://192.168.0.120:8080/?action=stream" alt="http://192.168.0.120:8080/?action=stream">


    <script>
       
        let server_url = "http://127.0.0.1:5000/";
        
        async function call_get_current_time() {
            //get the reponse from the server and display it
            let url  = server_url + "/call_get_current_time";
            let response = fetch(url);
            let data = await (await response).text();
            document.getElementById("current_time").innerHTML = data;
        }

        async function call_get_time_total() {
            //get the reponse from the server and display it
            let url  = server_url + "/call_get_printing_time_total";
            let response = fetch(url);
            let data = await (await response).text();
            document.getElementById("time_total").innerHTML = data;
        }

        async function call_get_time_elapsed() {
            //get the reponse from the server and display it
            let url  = server_url + "/call_get_printing_time_elapsed";
            let response = fetch(url);
            let data = await (await response).text();
            document.getElementById("time_elapsed").innerHTML = data;
        }

        async function call_get_printing_progress() {
            //get the reponse from the server and display it
            let url  = server_url + "/call_get_printing_progress";
            let response = fetch(url);
            let data = await (await response).text();
            document.getElementById("printing_progress").innerHTML = data;
        }

        function api_call_loop() {
            //call all apis every second

            setTimeout(api_call_loop, 1000)
            console.log("test");

            call_get_current_time();
            call_get_time_total();
            call_get_time_elapsed();
            call_get_printing_progress();
        }

        api_call_loop();
    </script>
</body>
</html>